// breakpoint settings, documentation is here:
// https://github.com/jescalan/rupture
rupture.anti-overlap          = true
rupture.base-font-size        = 1rem
// the below is set to false as you will likely run into errors
// due to em breakpoints clashing with the complex root font-size value
rupture.enable-em-breakpoints = false
rupture.scale                 = 0 480px 680px 880px 1080px 1280px 1480px 1680px
rupture.scale-names           = 'xxs' 'xs' 's' 'm' 'l' 'xl' 'xxl' 'hd'
// rupture.scale:      0  480px  680px  880px 1080px 1280px 1480px 1680px
//                     └──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──>>
// slice numbers:         1      2      3     4      5      6      7      8
// rupture.scale-names:  'xxs' 'xs'   'sm'    'm'    'l'   'xl'  'xxl'   'hd'
