/**
  * Set CSS custom properties for fluid typographic scale. Ratios used are in variables.styl.
  * `%s` is the syntax for printing the values of Stylus variables inside `calc`:
  * http://stylus-lang.com/docs/operators.html#sprintf
  */
:root
    --ratio $ratio--sml
    +above(3)
        --ratio $ratio--med
    +above(6)
        --ratio $ratio--lrg

    /**
      * Font-size custom properties.
      */
    $max_step = 8
    $min_step = -2

    for step in ($min_step..$max_step)
        power = ""
        abs = abs(step)

        if step == 0
            --font-size-step-0 $fz--base

        else if step > 0
            for i in (1..abs)
                power += "* var(--ratio) "
                --font-size-step-{step} "calc(%s %s)" % ($fz--base, power.trim())

        else
            for i in (1..abs)
                power += "/ var(--ratio) "
                --font-size-step-{step} "calc(%s %s)" % ($fz--base, power.trim())

    /**
      * Spacing custom properties.
      */
    $min_step = 1
    $max_step = 4

    for step in ($min_step..$max_step)
        --sp-step-{step} "calc(var(--font-size-step-{step}) * %s)" % ($lh--heading)
