/*
    border-width variables.
*/
$bw              = 2px
$bw--half        = ($bw / 2)
$bw--times-two   = ($bw * 2)
$bw--times-three = ($bw * 3)

/*
    border-radius variable.
*/
$bdrs              = 4px
$bdrs--half        = ($bdrs / 2)
$bdrs--times-two   = ($bdrs * 2)
$bdrs--times-three = ($bdrs * 3)


/*
    global container width variables.
*/
$contain         = 1520px
$contain--wide   = ($contain * 1.5)
$contain--narrow = ($contain * .75)
$contain--half   = ($contain / 2)
