/**
  * Spacing variables. use these in place of pixel values to enjoy fluid layout scaling.
  */

/**
  * Base spacing variable, which matches the height of a single line of paragraph text at the base
  * font size.
  */
$sp = ($fz--base * $lh--body)
