$sp = ($fz--base * $lh--body)

$sp--quadruple           = ($sp * 4)
$sp--triple              = ($sp * 3)
$sp--double              = ($sp * 2)
$sp--plus-three-quarters = ($sp * 1.75)
$sp--plus-two-thirds     = ($sp * 1.666)
$sp--plus-half           = ($sp * 1.5)
$sp--plus-third          = ($sp * 1.333)
$sp--plus-quarter        = ($sp * 1.25)

$sp--three-quarters      = ($sp * .75)
$sp--two-thirds          = ($sp * .666)
$sp--half                = ($sp / 2)
$sp--third               = ($sp / 3)
$sp--quarter             = ($sp / 4)
$sp--fifth               = ($sp / 5)
$sp--sixth               = ($sp / 6)
$sp--eighth              = ($sp / 8)
$sp--tenth               = ($sp / 10)
