@font-face
    font-family 'neuzeit--book'
    src url('fonts/neuzeit--book/neuzeit--book.woff') format('woff'),url('fonts/neuzeit--book/neuzeit--book.woff2') format('woff2'),url('fonts/neuzeit--book/neuzeit--book.svg#') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal
