// in the console in theme folder root, use 'npm i' to install node modules, then use 'gulp' to compile site.

// libraries
@import 'jeet'
@import 'stylus/simple-reset.css'

// load fonts
@font-face
	font-family 'futura-std--light'
	src url('fonts/futura-std--light/futura-std--light.eot')
	src url('fonts/futura-std--light/futura-std--light.eot?#iefix') format('embedded-opentype'),url('fonts/futura-std--light/futura-std--light.woff') format('woff'),url('fonts/futura-std--light/futura-std--light.ttf') format('truetype'),url('fonts/futura-std--light/futura-std--light.svg#') format('svg')
	font-weight 400
	font-style normal
	font-stretch normal

@font-face
	font-family 'futura-std--book'
	src url('fonts/futura-std--book/futura-std--book.eot')
	src url('fonts/futura-std--book/futura-std--book.eot?#iefix') format('embedded-opentype'),url('fonts/futura-std--book/futura-std--book.woff') format('woff'),url('fonts/futura-std--book/futura-std--book.ttf') format('truetype'),url('fonts/futura-std--book/futura-std--book.svg#') format('svg')
	font-weight 400
	font-style normal
	font-stretch normal

@font-face
	font-family 'futura-std--book-oblique'
	src url('fonts/futura-std--book-oblique/futura-std--book-oblique.eot')
	src url('fonts/futura-std--book-oblique/futura-std--book-oblique.eot?#iefix') format('embedded-opentype'),url('fonts/futura-std--book-oblique/futura-std--book-oblique.woff') format('woff'),url('fonts/futura-std--book-oblique/futura-std--book-oblique.ttf') format('truetype'),url('fonts/futura-std--book-oblique/futura-std--book.svg#') format('svg')
	font-weight 400
	font-style normal
	font-stretch normal

@font-face
	font-family 'futura-std--medium'
	src url('fonts/futura-std--medium/futura-std--medium.eot')
	src url('fonts/futura-std--medium/futura-std--medium.eot?#iefix') format('embedded-opentype'),url('fonts/futura-std--medium/futura-std--medium.woff') format('woff'),url('fonts/futura-std--medium/futura-std--medium.ttf') format('truetype'),url('fonts/futura-std--medium/futura-std--medium.svg#') format('svg')
	font-weight 400
	font-style normal
	font-stretch normal

// stylesheets
@import 'imports/_variables.styl'
@import 'imports/_mixins.styl'
@import 'imports/_layout.styl'
@import 'imports/_typography.styl'
