{
    "extends":"standard",
    "env":{
        "browser":true,
        "jquery":false,
        "node":true
    },
    "rules":{
        "eqeqeq":[
            "error",
            "always"
        ],
        "indent":[
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-multi-spaces": 0,
        "quotes":[
            1,
            "double"
        ],
        "semi":[
            "error",
            "always"
        ],
        "sort-vars":"error",
        "space-before-function-paren":[
            "error",
            "always"
        ]
    }
}
