{
    "extends": "standard",
    "env": {
        "browser": true,
        "jquery": false,
        "node": true
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": ["error", "always"],
        "no-multi-spaces": 0,
        "quotes": [1, "double"]
    }
}
