*
*::before
*::after
    box-sizing border-box
    word-wrap break-word

body
    display flex
    flex-direction column
    align-items center
    justify-content flex-start
    min-height 100vh
    width 100%

// keyboard focus styles
html
    &[data-focus-source="key"] :focus
        z-index 90
        outline-offset 6px
        outline 2px solid $cl--focus

    :focus
        outline 0

.main_content
    flex 1
    display flex
    flex-direction column
    width 100%

.page_content
    flex 1
    width 100%
    background-color white

    &__inner
        contain(flex)
        flex-direction column
        align-items flex-start

        > *:first-child
            margin-top $sp--base--plus-half

        > *:last-child
            margin-bottom $sp--base--plus-half

img
    display block
    height auto
    width auto
    max-width 100%
    vertical-align bottom
    mt()

button
    button-reset()
