html
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

:root
    // see typographic-mixins.styl for an explanation of this
    interpolation('font-size', 480px, 1680px, 12px, 17px)
    // set CSS variables based on typographic scales
    // calculated here: http://www.modularscale.com
    // ratios used are in variables.styl
    // %s is the syntax for Stylus variables inside calc:
    // http://stylus-lang.com/docs/operators.html#sprintf
    --fz--supersub 'calc((%s / %s) / %s)' % ($fz--base $ratio--sml $ratio--sml)
    --fz--sub 'calc(%s / %s)' % ($fz--base $ratio--sml)
    --fz--h4 'calc(%s * %s)' % ($fz--base $ratio--sml)
    --fz--h3 'calc((%s * %s) * %s)' % ($fz--base $ratio--sml $ratio--sml)
    --fz--h2 'calc(((%s * %s) * %s) * %s)' % ($fz--base $ratio--sml $ratio--sml $ratio--sml)
    --fz--h1 'calc((((%s * %s) * %s) * %s) * %s)' % ($fz--base $ratio--sml $ratio--sml $ratio--sml $ratio--sml)
    +above(3)
        --fz--supersub 'calc((%s / %s) / %s)' % ($fz--base $ratio--med $ratio--med)
        --fz--sub 'calc(%s / %s)' % ($fz--base $ratio--med)
        --fz--h4 'calc(%s * %s)' % ($fz--base $ratio--med)
        --fz--h3 'calc((%s * %s) * %s)' % ($fz--base $ratio--med $ratio--med)
        --fz--h2 'calc(((%s * %s) * %s) * %s)' % ($fz--base $ratio--med $ratio--med $ratio--med)
        --fz--h1 'calc((((%s * %s) * %s) * %s) * %s)' % ($fz--base $ratio--med $ratio--med $ratio--med $ratio--med)
    +above(6)
        --fz--supersub 'calc((%s / %s) / %s)' % ($fz--base $ratio--lrg $ratio--lrg)
        --fz--sub 'calc(%s / %s)' % ($fz--base $ratio--lrg)
        --fz--h4 'calc(%s * %s)' % ($fz--base $ratio--lrg)
        --fz--h3 'calc((%s * %s) * %s)' % ($fz--base $ratio--lrg $ratio--lrg)
        --fz--h2 'calc(((%s * %s) * %s) * %s)' % ($fz--base $ratio--lrg $ratio--lrg $ratio--lrg)
        --fz--h1 'calc((((%s * %s) * %s) * %s) * %s)' % ($fz--base $ratio--lrg $ratio--lrg $ratio--lrg $ratio--lrg)
    // spacing variables
    --sp--h1 'calc(var(--fz--h1) * %s)' % ($lh--heading)
    --sp--h2 'calc(var(--fz--h2) * %s)' % ($lh--heading)
    --sp--h3 'calc(var(--fz--h3) * %s)' % ($lh--heading)
    --sp--h4 'calc(var(--fz--h4) * %s)' % ($lh--heading)

body
select
input
textarea
    font-family $ff--body
    font-weight $fw--normal
    line-height $lh--body
    color $cl--light

h1
h2
h3
h4
    display block
    line-height $lh--heading
    font-family $ff--heading
    font-weight normal
    color $cl--dark

    a
    a:visited
        color $cl--first

        &:active
        &:hover
        &:focus
            color $cl--first--low

h1
    max-width 27ch
    h1()

h2
    max-width 40ch
    h2()

    * + &
        margin-top (((($fz--base * $ratio--sml) * $ratio--sml) * $ratio--sml) * $lh--heading)
        margin-top var(--sp--h2)
        +above(3)
            margin-top (((($fz--base * $ratio--med) * $ratio--med) * $ratio--med) * $lh--heading)
            margin-top var(--sp--h2)
        +above(6)
            margin-top (((($fz--base * $ratio--lrg) * $ratio--lrg) * $ratio--lrg) * $lh--heading)
            margin-top var(--sp--h2)

h3
    max-width 45ch
    font-size var(--fz--h3)

    * + &
        margin-top ((($fz--base * $ratio--sml) * $ratio--sml) * $lh--heading)
        margin-top var(--sp--h3)
        +above(3)
            margin-top ((($fz--base * $ratio--med) * $ratio--med) * $lh--heading)
            margin-top var(--sp--h3)
        +above(6)
            margin-top ((($fz--base * $ratio--lrg) * $ratio--lrg) * $lh--heading)
            margin-top var(--sp--h3)

h4
    max-width 55ch
    font-size var(--fz--h4)

    * + &
        margin-top (($fz--base * $ratio--sml) * $lh--heading)
        margin-top var(--sp--h4)
        +above(3)
            margin-top (($fz--base * $ratio--med) * $lh--heading)
            margin-top var(--sp--h4)
        +above(6)
            margin-top (($fz--base * $ratio--lrg) * $lh--heading)
            margin-top var(--sp--h4)

p
    font-family $ff--body
    font-size $fz--base
    line-height $lh--body
    letter-spacing .2px
    color $cl--light
    width auto
    max-width 100%

    .page_content__inner &
        width 70ch

        > a
        > a:visited
            color $cl--first

            &:active
            &:hover
            &:focus
                color $cl--first--low

    h1 + &
    h2 + &
    h3 + &
        margin-top $sp--base--third

    h4 + &
        margin-top $sp--base--half

    * + &
        margin-top $sp--base

a
a:visited
    trans()
    position relative
    cursor pointer
    text-decoration none

b
strong
    font-weight normal
    font-family $ff--strong

i
em
    font-style italic
    font-family $ff--emphasis

::selection
    background-color $cl--first--low
    color white

.written_content_list
    display block
    width 70ch
    max-width 100%
    mt()
    padding-left 3ch

    ol^[0]
        list-style-type decimal

    ul^[0]
        list-style-type disc

    li
        max-width 100%

        + li
            margin-top $sp--base--half
