/*
    breakpoint settings. the commented scale below is to help
    you to visualise this. documentation can be found here:
    https://github.com/jescalan/rupture
*/
rupture.anti-overlap   = true // @stylint ignore
rupture.base-font-size = 1rem // @stylint ignore
/*
    the below is set to false as you will otherwise likely run into errors
    due to em-unit breakpoints clashing with the complex root font-size value.
*/
rupture.enable-em-breakpoints = false // @stylint ignore
rupture.scale                 = 0 480px 680px 880px 1080px 1280px 1480px 1680px // @stylint ignore
/*
    rupture.scale:      0    480px  680px  880px 1080px 1280px  1480px 1680px
                        └──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──┘└──┬──>
    slice numbers:        1       2      3      4      5      6      7      8
*/
