/*
    the app's colour scheme is triadic
    three hues are used: 220.7, 39.9, and 178
*/
// layout delineation colours
$cl--interface--high  = hsla(220.7, 29.4%, 96.7%, 1);
$cl--interface--light = hsla(220.7, 20%, 92.2%, 1)
$cl--interface        = hsla(220.7, 12%, 28%, 1)
$cl--interface--low   = hsla(220.7, 10%, 24%, 1)
$cl--interface--dark  = hsla(220.7, 06%, 10%, 1)

// attention colours, to draw the user's attention to an element
$cl--attention--high = hsla(39.9, 100%, 90%, 1)
$cl--attention--med  = hsla(39.9, 100%, 70%, 1)
$cl--attention       = hsla(39.9, 100%, 60%, 1)
$cl--attention--low  = hsla(39.9, 100%, 50%, 1)
$cl--attention--dark = hsla(39.9, 100%, 46%, 1)

// interaction colours, to show the user they can interact with an element
$cl--interaction--high = hsla(178, 44%, 90%, 1)
$cl--interaction--med  = hsla(178, 40%, 63%, 1)
$cl--interaction       = hsla(178, 52%, 40%, 1)
$cl--interaction--low  = hsla(178, 56%, 38%, 1)
$cl--interaction--dark = hsla(178, 40%, 28%, 1)

// text colours
$cl--text--metadata = hsla(191, 8%, 45%, 1)
$cl--text--copy     = hsla(191, 14.3%, 26%, 1)
$cl--text--heading  = hsla(191, 22.8%, 13%, 1)

// anchor colours
$cl--anchor                            = hsla(353.3, 50%, 44%, 1)
$cl--anchor--interact                  = hsla(353.3, 56%, 30%, 1)
$cl--anchor--dark-background           = hsla(353.3, 50%, 44%, 1)
$cl--anchor--dark-background--interact = hsla(353.3, 56%, 30%, 1)

// utility colours
$cl--success = hsla(160, 55%, 46%, 1)
$cl--error   = hsla(350, 79.4%, 50.4%, 1)
$cl--info    = hsla(200.5, 40.1%, 44.1%, 1)
$cl--warning = hsla(14.5, 100%, 62%, 1)
$cl--focus   = $cl--warning
