// font family variables.
$ff--light    = "inter-ui--regular", sans-serif
$ff--body     = "inter-ui--regular", sans-serif
$ff--emphasis = "inter-ui--italic", sans-serif
$ff--strong   = "inter-ui--medium", sans-serif
$ff--heading  = "inter-ui--medium", sans-serif

/*
    add an em value to account for some font families displaying
    with uneven spacing above the highest ascender and below
    the lowest descender. this is used in the function
    `pd-account-for-font-offset()`.
*/
$ff-x-position-offset = .14em

/*
    base font-size variable. do not arbitrarily add more
    of these; use the functions in typographic_functions.styl
    instead.
*/
$fz--base = 1rem

// fallback variables for browsers not supporting CSS custom properties.
$ratio--sml = 1.125
$ratio--lrg = 1.28
$ratio--med = ((($ratio--lrg - $ratio--sml) / 2) + $ratio--sml) // the middle point between $ratio--lrg and $ratio--sml

// font-weight variables.
$fw--normal  = normal
$fw--strong  = normal
$fw--heading = normal

// line height variables.
$lh--body    = 1.618
$lh--heading = 1.5

/*
    line-length variable. edit this to suit the typeface chosen.
    the line-length of heading elements will operate on this value.
*/
$ll = 74

// letter-spacing variables. edit these to suit the typeface chosen.
$ls--body                = -.022em
$ls--small-text          = -.016em
$ls--uppercase           = -.006em
$ls--strong              = -.034em
$ls--heading--one-two    = -.046em
$ls--heading--three-four = -.028em

// max-width variables for headings
$maw--h1 = ($ll * .5)ch
$maw--h2 = ($ll * .6)ch
$maw--h3 = ($ll * .7)ch
$maw--h4 = ($ll * .8)ch
