// keyboard focus styles
// use a11y.js to detect keyboard input
html

    *
        trans($properties: "outline-offset")
        outline-offset 0

    &[data-focus-source="key"]
    &[data-focus-source="script"]

        *:focus
            focus-styles()

    &[data-focus-source="pointer"]
    &[data-focus-source=""]

        *:focus
            outline 0
