<!doctype html>
<html>
    <head>
        @@include('../includes/global/head.html', {
            "page_title": "Home"
        })
    <body class="home">
        @@include('../includes/page_specific/index/header.html')
        <main
        class="main_content"
        id="main_content">
            <article class="page_content">
                <div class="page_content__inner">
                </div><!-- .page_content__inner -->
            </article><!-- .page_content -->
        </main><!-- .main_content #main_content -->
        @@include('../includes/global/global_footer.html')
    </body><!-- .home -->
</html>
