// files will be ignored for compilation if prefixed with an underscore
@import "partials/critical_and_global/fonts/**/!(_*)*"
@import "partials/critical_and_global/vendor/vendor_libraries"
@import "partials/critical_and_global/variables/variables"
@import "partials/critical_and_global/animations/**/!(_*)*"
@import "partials/critical_and_global/functions/**/!(_*)*"
@import "partials/critical_and_global/base/**/!(_*)*"
@import "partials/reference/**/!(_*)*"
