/*
    function for transitions. this adds a will-change value for each
    property chosen. avoid using "all" for the will-change value,
    as you will very quickly hit the browser's will-change
    memory consumption limit.
*/
transition(
    $easing = ease-out,
    $properties = "background-color, box-shadow",
    $time = $trsdu,
)
    will-change unquote($properties)
    transition-property unquote($properties)
    transition-duration $time
    transition-timing-function $easing

/*
    function to lift an element vertically on interaction.
    remember to specify a transition for the element
    with a value of `transform`; this has been ommitted
    here to allow for multiple transition values.
*/
raise-up($distance = -2px)

    &:focus
    &:hover
        transform translateY($distance)
