/**
  * Function to allow removal of browser default styles on form elements.
  */
appearance($value = none)
    -webkit-appearance $value
    -moz-appearance $value
    appearance $value

/**
  * These functions provide fluid font-size scaling and vertical height scaling with an interpolated
  * set of ratios You'll find an explanation for using these
  * functions in the documentation, here:
  * https://github.com/trubblebruin/tenet/wiki/Practical-Documentation
  * The intention is for this file not to be edited; if you want to edit the size of your h1
  * element, for example, edit the type scaling ratios instead.
  */

/**
  * Fluid font-size utilities, outputting, for example, `fz--step-4`, `fz--step--2`.
  * These rely on the CSS custom properties declared in `css_custom_properties.styl`.
  */
$min_font_step = -2
$max_font_step = 8

for step in ($min_font_step..$max_font_step)
    fz--step-{step}()
        font-size var(--font-size-step-{step})

/**
  * Fluid spacing utilities, outputting, for example, `sp--step-2`. These are used for margin-top on
  * headings to maintain a typographic vertical rhythm.
  * These rely on the CSS custom properties declared in `css_custom_properties.styl`.
  */
$min_sp_step = 1
$max_sp_step = 4

for step in ($min_sp_step..$max_sp_step)
    sp--step-{step}()
        margin-top var(--sp-step-{step})
