/**
  * Function to retrieve and display the URL of an `anchor` element. You will need to write further
  * styles to display according to your design; the URL could be visible only on hover/focus, for
  * instance.
  */
anchor-href()
    position relative
    z-index auto

    &::after
        content attr(href)
        position absolute
