$cl--first--high   = #3161ac
$cl--first--med    = #2753a1
$cl--first         = #224194
$cl--first--low    = #24356c
$cl--first--dark   = #15254f

$cl--second--high  = #10b7d0
$cl--second--med   = #0093b2
$cl--second        = #008091
$cl--second--low   = #067078
$cl--second--dark  = #005e60

$cl--third--high   = #70c0a2
$cl--third--med    = #44b48f
$cl--third         = #19ae87
$cl--third--low    = #1a9371
$cl--third--dark   = #087f5a

$cl--fourth--high  = #395a6b
$cl--fourth--med   = #2e4b5c
$cl--fourth        = #263d49
$cl--fourth--low   = #1c2f38
$cl--fourth--dark  = #112730

$cl--off           = #fafafc
$cl--off--low      = darken($cl--off, 4%)

$cl--pale          = #f9f9c7

$cl--high          = #626875
$cl--light         = #2f333b
$cl--med           = #282b35
$cl--low           = #1d1f26
$cl--dark          = #111519

$cl--anchor           = $cl--first--med
$cl--anchor--interact = $cl--first

$cl--focus         = #ebc71b
$cl--error         = #ee5432
$cl--success       = #2fd060
