// font family variables
$ff--light    = 'inter-ui--regular', sans-serif
$ff--body     = 'inter-ui--regular', sans-serif
$ff--emphasis = 'inter-ui--italic', sans-serif
$ff--strong   = 'inter-ui--medium', sans-serif
$ff--heading  = 'inter-ui--medium', sans-serif

// font-size variables
$ratio--sml = 1.125
$ratio--lrg = 1.24
// the middle point between $ratio--lrg and $ratio--sml
$ratio--med = ((($ratio--lrg - $ratio--sml) / 2) + $ratio--sml)

$fz--base = 1rem

// font-weight variables
$fw--normal  = normal
$fw--strong  = normal
$fw--heading = normal

// line height variables
$lh--body    = 1.618
$lh--heading = 1.5

// line-length variable, edit this to suit the typeface chosen.
// the line-length of heading elements will operate on this value
$ll = 74

// letter-spacing variable, edit this to suit the typeface chosen
$ls = -0.05em
