// colour variables
$cl--first--high   = #3161ac
$cl--first--med    = #2753a1
$cl--first         = #224194
$cl--first--low    = #24356c
$cl--first--dark   = #15254f

$cl--second--high  = #10b7d0
$cl--second--med   = #0093b2
$cl--second        = #008091
$cl--second--low   = #067078
$cl--second--dark  = #005e60

$cl--third--high   = #70c0a2
$cl--third--med    = #44b48f
$cl--third         = #19ae87
$cl--third--low    = #1a9371
$cl--third--dark   = #087f5a

$cl--fourth--high  = #395a6b
$cl--fourth--med   = #2e4b5c
$cl--fourth        = #263d49
$cl--fourth--low   = #1c2f38
$cl--fourth--dark  = #112730

$cl--off           = #fafafc
$cl--off--low      = darken($cl--off, 4%)

$cl--pale          = #f9f9c7

$cl--high          = #626875
$cl--light         = #2f333b
$cl--med           = #282b35
$cl--low           = #1d1f26
$cl--dark          = #111519

$cl--anchor        = $cl--first--med
$cl--anchor--hover = $cl--first

$cl--focus         = #ebc71b
$cl--error         = #ee5432
$cl--success       = #2fd060

$cl--twitter       = #55acee
$cl--facebook      = #3b5998
$cl--linkedin      = #007bb5
$cl--youtube       = #ff0000

// font family variables
$ff--light    = 'inter-ui--regular', sans-serif
$ff--body     = 'inter-ui--regular', sans-serif
$ff--strong   = 'inter-ui--medium', sans-serif
$ff--emphasis = 'inter-ui--italic', sans-serif
$ff--heading  = 'inter-ui--medium', sans-serif

// font-size variables
$ratio--sml = 1.125
$ratio--med = 1.18
$ratio--lrg = 1.24

$fz--base = 1rem

// font-weight variables
$fw--normal  = normal
$fw--heading = normal

// line height variables
$lh--heading = 1.5
$lh--body    = 1.618

// line-length variable, edit this to suit the typeface chosen
$ll = 74

// letter-spacing variable, edit this to suit the typeface chosen
$ls = -0.05em

// spacing variables
$sp = ($fz--base * $lh--body)

$sp--quadruple           = ($sp * 4)
$sp--triple              = ($sp * 3)
$sp--double              = ($sp * 2)
$sp--plus-three-quarters = ($sp * 1.75)
$sp--plus-two-thirds     = ($sp * 1.666)
$sp--plus-half           = ($sp * 1.5)
$sp--plus-third          = ($sp * 1.333)
$sp--plus-quarter        = ($sp * 1.25)

$sp--three-quarters      = ($sp * .75)
$sp--two-thirds          = ($sp * .666)
$sp--half                = ($sp / 2)
$sp--third               = ($sp / 3)
$sp--quarter             = ($sp / 4)
$sp--fifth               = ($sp / 5)
$sp--sixth               = ($sp / 6)
$sp--eighth              = ($sp / 8)
$sp--tenth                        = ($sp / 10)

// global border-radius variable
$bdrs = 2px

// global container width variable
$container = 1520px
