/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --ratio: 1.125;
  --fz-ratio-power--four: calc(1rem * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --fz-ratio-power--three: calc(1rem * var(--ratio) * var(--ratio) * var(--ratio));
  --fz-ratio-power--two: calc(1rem * var(--ratio) * var(--ratio));
  --fz-ratio-power--one: calc(1rem * var(--ratio));
  --fz-ratio-power--minus-one: calc(1rem / var(--ratio));
  --fz-ratio-power--minus-two: calc((1rem / var(--ratio)) / var(--ratio));
  --sp-ratio-power--four: calc(var(--fz-ratio-power--four) * 1.5);
  --sp-ratio-power--three: calc(var(--fz-ratio-power--three) * 1.5);
  --sp-ratio-power--two: calc(var(--fz-ratio-power--two) * 1.5);
  --sp-ratio-power--one: calc(var(--fz-ratio-power--one) * 1.5);
}

html * {
  outline-offset: 0;
}

html[data-focus-source="pointer"] *:focus,html[data-focus-source=""] *:focus {
  outline: 0;
}

*,*::before,*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  will-change: unset;
  -webkit-transform: none;
  transform: none;
  -webkit-filter: none;
  filter: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
}

.main_content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}

.page_content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

.page_content__inner {
  margin-right: auto;
  margin-left: auto;
  width: flex;
  max-width: 1520px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.page_content__inner > *:first-child {
  margin-top: 2.427rem;
}

.page_content__inner > *:last-child {
  margin-bottom: 2.427rem;
}

img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  vertical-align: bottom;
}

* + img {
  margin-top: 1.618rem;
}

svg {
  overflow: visible;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  font: inherit;
  color: inherit;
}

:root {
  font-size: 13px;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,select,input,textarea {
  font-family: 'inter-ui--regular', sans-serif;
  font-weight: normal;
  line-height: 1.618;
  font-size: inherit;
  letter-spacing: -0.05em;
  color: #50545e;
}

h1,h2,h3,h4 {
  display: block;
  line-height: 1.5;
  font-family: 'inter-ui--medium', sans-serif;
  font-weight: normal;
  letter-spacing: -0.05em;
  color: #3d4048;
}

h1 a,h2 a,h3 a,h4 a,h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited {
  color: #319b98;
}

h1 a:active,h2 a:active,h3 a:active,h4 a:active,h1 a:visited:active,h2 a:visited:active,h3 a:visited:active,h4 a:visited:active,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h1 a:visited:hover,h2 a:visited:hover,h3 a:visited:hover,h4 a:visited:hover,h1 a:focus,h2 a:focus,h3 a:focus,h4 a:focus,h1 a:visited:focus,h2 a:visited:focus,h3 a:visited:focus,h4 a:visited:focus {
  color: #2b9794;
}

h1 {
  max-width: 37ch;
  font-size: 1.601806640625rem;
  font-size: var(--fz-ratio-power--four);
}

* + h1 {
  margin-top: 2.4027099609375rem;
  margin-top: var(--sp-ratio-power--four);
}

h2 {
  max-width: 37ch;
  font-size: 1.423828125rem;
  font-size: var(--fz-ratio-power--three);
}

* + h2 {
  margin-top: 2.1357421875rem;
  margin-top: var(--sp-ratio-power--three);
}

h3 {
  max-width: 51.8ch;
  font-size: 1.265625rem;
  font-size: var(--fz-ratio-power--two);
}

* + h3 {
  margin-top: 1.8984375rem;
  margin-top: var(--sp-ratio-power--two);
}

h4 {
  max-width: 64ch;
  font-size: 1.125rem;
  font-size: var(--fz-ratio-power--one);
}

* + h4 {
  margin-top: 1.6875rem;
  margin-top: var(--sp-ratio-power--one);
}

p {
  width: auto;
  max-width: 100%;
  font-family: 'inter-ui--regular', sans-serif;
  font-size: 1rem;
  line-height: 1.618;
  letter-spacing: -0.05em;
  color: #50545e;
}

* + p {
  margin-top: 1.618rem;
}

h1 + p,h2 + p,h3 + p {
  margin-top: 0.539333333333333rem;
}

h4 + p {
  margin-top: 0.809rem;
}

.reading_content p,p.reading_content {
  width: 74ch;
}

.reading_content p > a,p.reading_content > a,.reading_content p > a:visited,p.reading_content > a:visited {
  -webkit-box-shadow: inset 0 0 0 hsla(178,56%,38%,0.4);
  box-shadow: inset 0 0 0 hsla(178,56%,38%,0.4);
  color: #319b98;
}

.reading_content p > a:active,p.reading_content > a:active,.reading_content p > a:visited:active,p.reading_content > a:visited:active,.reading_content p > a:focus,p.reading_content > a:focus,.reading_content p > a:visited:focus,p.reading_content > a:visited:focus,.reading_content p > a:hover,p.reading_content > a:hover,.reading_content p > a:visited:hover,p.reading_content > a:visited:hover {
  -webkit-box-shadow: inset 0 -2px 0 hsla(178,56%,38%,0.4);
  box-shadow: inset 0 -2px 0 hsla(178,56%,38%,0.4);
  color: #2b9794;
}

a,a:visited {
  cursor: pointer;
  text-decoration: none;
}

strong,b {
  font-weight: normal;
  font-family: 'inter-ui--medium', sans-serif;
}

em,i {
  font-style: normal;
  font-family: 'inter-ui--italic', sans-serif;
}

::-moz-selection {
  background-color: #3f4450;
  text-shadow: 0 0 0.1em #18191b;
  color: #fff;
}

::selection {
  background-color: #3f4450;
  text-shadow: 0 0 0.1em #18191b;
  color: #fff;
}

.reading_content {
  width: 100%;
}

.reading_content ul,.reading_content ol,.reading_content dl {
  display: block;
  width: 100%;
  max-width: 74ch;
  padding-left: 3ch;
}

.reading_content * + ul,.reading_content * + ol,.reading_content * + dl {
  margin-top: 1.077588rem;
}

.reading_content ul {
  list-style-type: disc;
}

.reading_content ul ul {
  list-style-type: circle;
}

.reading_content ul ul ul {
  list-style-type: square;
}

.reading_content ol {
  list-style-type: decimal;
}

.reading_content ol ol {
  list-style-type: lower-alpha;
}

.reading_content ol ol ol {
  list-style-type: lower-roman;
}

.reading_content li {
  max-width: 100%;
}

.reading_content li ul:first-child,.reading_content li ol:first-child {
  margin-top: 0.809rem;
}

.reading_content * + li {
  margin-top: 0.809rem;
}

sup {
  vertical-align: super;
  font-size: 0.888888888888889rem;
  font-size: var(--fz-ratio-power--minus-one);
}

.reference_colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

* + .reference_colours {
  margin-top: 1.618rem;
}

.reference_colours__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

* + .reference_colours__list {
  margin-top: 1.618rem;
}

.reference_colours__item {
  display: block;
  width: 18.4%;
  border: 2px solid #fff;
}

.reference_colours__item::after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.reference_colours__item:nth-child(n+6) {
  margin-top: 2%;
}

* + .reference_colours__item {
  margin-left: 2%;
}

.cl--interaction {
  background-color: #319b98;
}

.cl--interaction--dark {
  background-color: #2b6462;
}

.cl--interaction--low {
  background-color: #2b9794;
}

.cl--interaction--med {
  background-color: #7bc6c4;
}

.cl--interaction--high {
  background-color: #daf1f0;
}

.cl--attention {
  background-color: #fb3;
}

.cl--attention--dark {
  background-color: #eb9c00;
}

.cl--attention--low {
  background-color: #fa0;
}

.cl--attention--med {
  background-color: #fc6;
}

.cl--attention--high {
  background-color: #fec;
}

.cl--interface {
  background-color: #3f4450;
}

.cl--interface--dark {
  background-color: #18191b;
}

.cl--interface--low {
  background-color: #373b43;
}

.cl--interface--med {
  background-color: #dfe2e7;
}

.cl--interface--light {
  background-color: #e7eaef;
}

.cl--interface--high {
  background-color: #f4f6f9;
}

.cl--text {
  background-color: #50545e;
}

.cl--text--dark {
  background-color: #212327;
}

.cl--text--low {
  background-color: #3d4048;
}

.cl--text--med {
  background-color: #5e636e;
}

.cl--text--light {
  background-color: $cl--text--light;
}

.cl--text--high {
  background-color: $cl--text--high;
}

@font-face {
  font-family:"inter-ui--regular";src:url("../fonts/inter-ui--regular/inter-ui--regular.eot");src:url("../fonts/inter-ui--regular/inter-ui--regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-ui--regular/inter-ui--regular.woff") format("woff"), url("../fonts/inter-ui--regular/inter-ui--regular.ttf") format("truetype");font-weight:normal;font-style:normal;font-stretch:normal;
}

@font-face {
  font-family:"inter-ui--italic";src:url("../fonts/inter-ui--italic/inter-ui--italic.eot");src:url("../fonts/inter-ui--italic/inter-ui--italic.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-ui--italic/inter-ui--italic.woff") format("woff"), url("../fonts/inter-ui--italic/inter-ui--italic.ttf") format("truetype");font-weight:normal;font-style:normal;font-stretch:normal;
}

@font-face {
  font-family:"inter-ui--medium";src:url("../fonts/inter-ui--medium/inter-ui--medium.eot");src:url("../fonts/inter-ui--medium/inter-ui--medium.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-ui--medium/inter-ui--medium.woff") format("woff"), url("../fonts/inter-ui--medium/inter-ui--medium.ttf") format("truetype");font-weight:normal;font-style:normal;font-stretch:normal;
}

@media screen and (min-width: 480px) {
  :root {
    font-size: $function-name(480px, 13px, 1680px, 19px);
  }
}

@media only screen and (min-width: 681px) {
  :root {
    --ratio: 1.1825;
  }

  h1 {
    font-size: 1.955260368789063rem;
    font-size: var(--fz-ratio-power--four);
  }

  * + h1 {
    margin-top: 2.932890553183595rem;
    margin-top: var(--sp-ratio-power--four);
  }

  h2 {
    font-size: 1.653497140625001rem;
    font-size: var(--fz-ratio-power--three);
  }

  * + h2 {
    margin-top: 2.480245710937501rem;
    margin-top: var(--sp-ratio-power--three);
  }

  h3 {
    font-size: 1.39830625rem;
    font-size: var(--fz-ratio-power--two);
  }

  * + h3 {
    margin-top: 2.097459375000001rem;
    margin-top: var(--sp-ratio-power--two);
  }

  h4 {
    font-size: 1.1825rem;
    font-size: var(--fz-ratio-power--one);
  }

  * + h4 {
    margin-top: 1.77375rem;
    margin-top: var(--sp-ratio-power--one);
  }

  sup {
    font-size: 0.845665961945032rem;
    font-size: var(--fz-ratio-power--minus-one);
  }
}

@media only screen and (min-width: 1281px) {
  :root {
    --ratio: 1.24;
  }

  h1 {
    font-size: 2.36421376rem;
    font-size: var(--fz-ratio-power--four);
  }

  * + h1 {
    margin-top: 3.54632064rem;
    margin-top: var(--sp-ratio-power--four);
  }

  h2 {
    font-size: 1.906624rem;
    font-size: var(--fz-ratio-power--three);
  }

  * + h2 {
    margin-top: 2.859936rem;
    margin-top: var(--sp-ratio-power--three);
  }

  h3 {
    font-size: 1.5376rem;
    font-size: var(--fz-ratio-power--two);
  }

  * + h3 {
    margin-top: 2.3064rem;
    margin-top: var(--sp-ratio-power--two);
  }

  h4 {
    font-size: 1.24rem;
    font-size: var(--fz-ratio-power--one);
  }

  * + h4 {
    margin-top: 1.86rem;
    margin-top: var(--sp-ratio-power--one);
  }

  sup {
    font-size: 0.806451612903226rem;
    font-size: var(--fz-ratio-power--minus-one);
  }
}

@media screen and (min-width: 1680px) {
  :root {
    font-size: 19px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
