.design_reference

    &__definition_and_note
        display inline-block
        mt()
        bxsh-static()
        width $contain--narrow
        max-width 100%
        border $bw--half solid $cl--soft-interface--high
        border-radius $bdrs
        background-color white
        padding $sp--half $sp--two-thirds $sp--two-thirds
        fz--minus-one()
        letter-spacing $ls--strong

        &__definition
            font-weight $fw--strong

        &__note
            display block
            mt($sp--sixth)
