@font-face
    font-family "inter-ui--regular"
    src url("../fonts/inter-ui--regular/inter-ui--regular.eot")
    src url("../fonts/inter-ui--regular/inter-ui--regular.eot?#iefix") format("embedded-opentype"),url("../fonts/inter-ui--regular/inter-ui--regular.woff") format("woff"),url("../fonts/inter-ui--regular/inter-ui--regular.ttf") format("truetype")
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family "inter-ui--italic"
    src url("../fonts/inter-ui--italic/inter-ui--italic.eot")
    src url("../fonts/inter-ui--italic/inter-ui--italic.eot?#iefix") format("embedded-opentype"),url("../fonts/inter-ui--italic/inter-ui--italic.woff") format("woff"),url("../fonts/inter-ui--italic/inter-ui--italic.ttf") format("truetype")
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family "inter-ui--medium"
    src url("../fonts/inter-ui--medium/inter-ui--medium.eot")
    src url("../fonts/inter-ui--medium/inter-ui--medium.eot?#iefix") format("embedded-opentype"),url("../fonts/inter-ui--medium/inter-ui--medium.woff") format("woff"),url("../fonts/inter-ui--medium/inter-ui--medium.ttf") format("truetype")
    font-weight 400
    font-style normal
    font-stretch normal
