// colour variables
$cl--primary         = #26a69a
$cl--primary--high   = #64d8cb
$cl--primary--low    = #00766c
$cl--secondary       = #ffd54f
$cl--secondary--high = #ffff81
$cl--secondary--low  = #c8a415
$cl--dark            = #263238
$cl--light           = #455a64
$cl--pale            = #e0f2f1

// font family variables
$ff--light   = 'neuzeit--book', sans-serif
$ff--body    = 'neuzeit--book', sans-serif
$ff--italic  = 'neuzeit--book', sans-serif
$ff--heading = 'neuzeit--book', sans-serif

// font-size variables
$ratio        = 1.25
$fz--base     = 1.8rem
$fz--h1       = ($fz--base * ($ratio * 3))
$fz--h2       = ($fz--base * ($ratio * 2))
$fz--h3       = ($fz--base * $ratio)
$fz--sub      = ($fz--base / $ratio)
$fz--supersub = ($fz--base / ($ratio * 2))

// line height variables
$lh--heading = 1.5
$lh--body    = 1.618

// vertical spacing variables
$vs--h1               = ($fz--h1 * $lh--heading)
$vs--h2               = ($fz--h2 * $lh--heading)
$vs--h3               = ($fz--h3 * $lh--heading)
$vs--base             = ($fz--base * $lh--body)
$vs--base--double     = ($vs--base * 2)
$vs--base--plus-half  = ($vs--base * 1.5)
$vs--base--two-thirds = ($vs--base * .666)
$vs--base--half       = ($vs--base / 2)
$vs--base--third      = ($vs--base / 3)
$vs--base--quarter    = ($vs--base / 4)
$vs--sub              = ($fz--sub * $lh--body)

// global border-radius variable
$bdrs = 2px
