// colour variables
$cl--primary--high   = #17afab
$cl--primary         = #007c92
$cl--primary--low    = #144449

$cl--off             = #f2f9f9
$cl--pale            = #e1feff
$cl--light           = #30393a
$cl--dark            = #222a2b

// font family variables
$ff--light   = 'akzidenz-grotesk-bq--regular', sans-serif
$ff--body    = 'akzidenz-grotesk-bq--regular', sans-serif
$ff--italic  = 'akzidenz-grotesk-bq--italic', sans-serif
$ff--heading = 'value-serif', sans-serif

// font-size variables
$ratio--sml = 1.125
$ratio--med = 1.2
$ratio--lrg = 1.333

$fz--base = 1rem

// line height variables
$lh--heading = 1.5
$lh--body    = 1.618

$sp--base             = ($fz--base * $lh--body)
$sp--base--double     = ($sp--base * 2)
$sp--base--plus-half  = ($sp--base * 1.5)
$sp--base--two-thirds = ($sp--base * .666)
$sp--base--half       = ($sp--base / 2)
$sp--base--third      = ($sp--base / 3)
$sp--base--quarter    = ($sp--base / 4)

// global border-radius variable
$bdrs = 2px
