// colour variables
$cl--first--pale  = #f0ffeb
$cl--first--high  = #a2a8a0
$cl--first--med   = #899386
$cl--first        = #757f73
$cl--first--low   = #5f685c

$cl--second--pale = #ddeffc
$cl--second--high = #487aab
$cl--second--med  = #2f5d94
$cl--second       = #1f5080
$cl--second--low  = #0f2b41

$cl--third--pale  = #f2f0ef
$cl--third--high  = #afa2a0
$cl--third--med   = #8c7d7a
$cl--third        = #736360
$cl--third--low   = #554543

$cl--fourth--pale = #f3e5f2
$cl--fourth--high = #8b7499
$cl--fourth--med  = #7e698c
$cl--fourth       = #654b75
$cl--fourth--low  = #402d4b

$cl--off          = #f2f9f9
$cl--off--low     = darken($cl--off, 4%)

$cl--high         = #81888c
$cl--light        = #2f3335
$cl--med          = #202425
$cl--dark         = #1a1f22

$cl--focus        = #ebc71b
$cl--error        = #ee5432
$cl--success      = #2fd060

// font family variables
$ff--light    = 'neuzeit-s--book', sans-serif
$ff--body     = 'neuzeit-s--book', sans-serif
$ff--emphasis = 'neuzeit-s--book-heavy', sans-serif
$ff--italic   = 'austin-light--italic', sans-serif
$ff--heading  = 'austin-light', sans-serif

// font-size variables
$ratio--sml = 1.125
$ratio--med = 1.2
$ratio--lrg = 1.333

$fz--base = 1rem

// line height variables
$lh--heading = 1.5
$lh--body    = 1.618

// spacing variables
$sp--base = ($fz--base * $lh--body)

$sp--base--quadruple      = ($sp--base * 4)
$sp--base--triple         = ($sp--base * 3)
$sp--base--double         = ($sp--base * 2)
$sp--base--plus-half      = ($sp--base * 1.5)

$sp--base--three-quarters = ($sp--base * .75)
$sp--base--two-thirds     = ($sp--base * .666)
$sp--base--half           = ($sp--base / 2)
$sp--base--third          = ($sp--base / 3)
$sp--base--quarter        = ($sp--base / 4)
$sp--base--fifth          = ($sp--base / 5)
$sp--base--sixth          = ($sp--base / 6)
$sp--base--eighth         = ($sp--base / 8)

// global border-radius variable
$bdrs = 2px

// global container width variable
$container = 1480px
