<svg
class="global_header__navigation__open__icon"
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 230.88 162.3">
    <title>menu icon</title>
    <path
    class="global_header__navigation__open__icon__path"
    d="M16.6,19.09H221.33a9.55,9.55,0,1,0,0-19.09H16.6a9.55,9.55,0,1,0,0,19.09Z"/>
    <path
    class="global_header__navigation__open__icon__path"
    d="M51.94,90.7H221.33a9.55,9.55,0,0,0,0-19.1H51.94a9.55,9.55,0,1,0,0,19.1Z"/>
    <path
    class="global_header__navigation__open__icon__path"
    d="M9.55,162.3H221.33a9.55,9.55,0,1,0,0-19.09H9.55a9.55,9.55,0,1,0,0,19.09Z"/>
</svg><!-- .global_header__navigation__open__icon -->
