// border-box setup
*
*:before
*:after
	box-sizing inherit

// define base rem
html
	box-sizing border-box
	font-size 62.5%

*
	margin 0

input[type="text"]
input[type="email"]
input[type="url"]
input[type="password"]
input[type="search"]
textarea
	border 1px solid $light
	border-radius 2px
	background white
	padding 10px 20px
	text-shadow none