// colours
$off	=	#f0f5f7

$dark	=	#181919
$light	=	#4a4b4c

// typography
$copy	=	'futura-std--light', sans-serif
$hard	=	'futura-std--book', sans-serif
$ital	=	'futura-std--book-oblique', sans-serif
$head	=	'futura-std--medium', sans-serif

// breakpoints
rupture.enable-em-breakpoints	= true // delete this if things go squiffy
rupture.anti-overlap			= true
rupture.scale 					= 0 480px 840px 980px 1240px 1400px
rupture.scale-names 			= 'xs' 's' 'm' 'l' 'xl' 'hd'

// rupture.scale:      0     480px   840px    980px   1240px  1400px
//                     └─┬─┘ └─┬─┘ └─┬─┘ └─┬─┘ └─┬─┘ └─┬──
// Slice numbers:         1        2       3        4       5        6
// rupture.scale-names:  'xs'     's'     'm'      'l'     'xl'     'hd'