// mixin for styling input placeholders
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}

// mixin for a simple anchor underline which appears on interaction
content-anchor(
    $initial-color     = $cl--anchor,
    $interaction-color = $cl--anchor--interact
)
    trans($properties: "box-shadow, color")
    box-shadow inset 0 0 0 modify-hsla($color: $interaction-color, $a: -.6)
    color $initial-color

    &:active
    &:focus
    &:hover
        box-shadow inset 0 -2px 0 modify-hsla($color: $interaction-color, $a: -.6)
        color $interaction-color

// mixin for ensuring that long words don't break layout
break-long-words()
    word-break break-word
    overflow-wrap anywhere
