@font-face
    font-family 'neuzeit-s--book'
    src url('fonts/neuzeit-s--book/neuzeit-s--book.eot')
    src url('fonts/neuzeit-s--book/neuzeit-s--book.eot?#iefix') format('embedded-opentype'),url('fonts/neuzeit-s--book/neuzeit-s--book.woff') format('woff'),url('fonts/neuzeit-s--book/neuzeit-s--book.ttf') format('truetype')
    font-weight 400
    font-style normal
    font-stretch normal
