@font-face
    font-family 'akzidenz-grotesk-bq--italic'
    src url('../fonts/akzidenz-grotesk-bq--italic/akzidenz-grotesk-bq--italic.eot')
    src url('../fonts/akzidenz-grotesk-bq--italic/akzidenz-grotesk-bq--italic.eot?#iefix') format('embedded-opentype'),url('../fonts/akzidenz-grotesk-bq--italic/akzidenz-grotesk-bq--italic.woff') format('woff'),url('../fonts/akzidenz-grotesk-bq--italic/akzidenz-grotesk-bq--italic.ttf') format('truetype')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'akzidenz-grotesk-bq--regular'
    src url('../fonts/akzidenz-grotesk-bq--regular/akzidenz-grotesk-bq--regular.eot')
    src url('../fonts/akzidenz-grotesk-bq--regular/akzidenz-grotesk-bq--regular.eot?#iefix') format('embedded-opentype'),url('../fonts/akzidenz-grotesk-bq--regular/akzidenz-grotesk-bq--regular.woff') format('woff'),url('../fonts/akzidenz-grotesk-bq--regular/akzidenz-grotesk-bq--regular.ttf') format('truetype')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'neuzeit-s--book'
    src url('../fonts/neuzeit-s--book/neuzeit-s--book.eot')
    src url('../fonts/neuzeit-s--book/neuzeit-s--book.eot?#iefix') format('embedded-opentype'),url('../fonts/neuzeit-s--book/neuzeit-s--book.woff') format('woff'),url('../fonts/neuzeit-s--book/neuzeit-s--book.ttf') format('truetype')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'sabon-lt--roman'
    src url('../fonts/sabon-lt--roman/sabon-lt--roman.eot')
    src url('../fonts/sabon-lt--roman/sabon-lt--roman.eot?#iefix') format('embedded-opentype'),url('../fonts/sabon-lt--roman/sabon-lt--roman.woff') format('woff'),url('../fonts/sabon-lt--roman/sabon-lt--roman.ttf') format('truetype')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'value-serif'
    src url('../fonts/value-serif/value-serif.eot')
    src url('../fonts/value-serif/value-serif.eot?#iefix') format('embedded-opentype'),url('../fonts/value-serif/value-serif.woff') format('woff'),url('../fonts/value-serif/value-serif.ttf') format('truetype')
    font-weight 400
    font-style normal
    font-stretch normal
