/**
  * This file is for global layout styles. Keep view-specific layout styles to their own files.
  */

/**
  * Make box-sizing more intuitive.
  */
*
*::before
*::after
    box-sizing border-box

/**
  * Provide browser-native smooth scrolling, unless user has decided against it.
  */
html
    scroll-behavior smooth

    @media (prefers-reduced-motion: reduce)
        scroll-behavior auto

body
    /**
      * The below three properties ensure that elements with fixed positioning will still display
      * relative to the viewport.
      */
    will-change unset
    transform none
    filter none
    display flex
    flex-direction column
    align-items center
    justify-content flex-start
    min-height 100vh
    width 100%

    /**
      * Hide scrollbars when modal dialog is visible.
      */
    .overlay_is_visible &
        overflow hidden
        max-height 100vh

.main_content
    flex 1 0 auto
    display flex
    flex-direction column
    width 100%

/**
  * Styles nested in this block are for a standard content page layout with a centered containing
  * element, which in many cases would be an `article` element.
  */
.page_content
    flex 1 0 auto
    width 100%

    &__inner
        display flex
        flex-direction column
        align-items flex-start
        contain()

        > *:first-child
            margin-top $sp--times-two

        > *:last-child
            margin-bottom $sp--times-two

img
    display block
    height auto
    width auto
    max-width 100%
    vertical-align bottom // Fix bug in some browsers which adds unintended white-space.

    &[height][width]
        height auto // Preserve aspect ratio if image has both dimensions specified in the markup.

    &[width]
        width auto // Ignore width if only width is specified in the markup.

    /**
      * Allow svg to scale; we will apply set height/width to specific svg elements where needed.
      */
    &[src$=".svg"]
        height auto
        width 100%
        max-width none

svg
    overflow visible // Fix bug in firefox where edges of SVG display as cut.
    height 100%
    max-height 100%
    width 100%
    max-width 100%

/**
  * Remove browser's native button styles.
  */
button
    button-reset()
