h1()
    font-size (((($fz--base * $ratio--sml) * $ratio--sml) * $ratio--sml) * $ratio--sml)
    font-size var(--fz--h1)
    +above(3)
        font-size (((($fz--base * $ratio--med) * $ratio--med) * $ratio--med) * $ratio--med)
        font-size var(--fz--h1)
    +above(6)
        font-size (((($fz--base * $ratio--lrg) * $ratio--lrg) * $ratio--lrg) * $ratio--sml)
        font-size var(--fz--h1)

h2()
    font-size ((($fz--base * $ratio--sml) * $ratio--sml) * $ratio--sml)
    font-size var(--fz--h2)
    +above(3)
        font-size ((($fz--base * $ratio--med) * $ratio--med) * $ratio--med)
        font-size var(--fz--h2)
    +above(6)
        font-size ((($fz--base * $ratio--lrg) * $ratio--lrg) * $ratio--lrg)
        font-size var(--fz--h2)

h3()
    font-size (($fz--base * $ratio--sml) * $ratio--sml)
    font-size var(--fz--h3)
    +above(3)
        font-size (($fz--base * $ratio--med) * $ratio--med)
        font-size var(--fz--h3)
    +above(6)
        font-size (($fz--base * $ratio--lrg) * $ratio--lrg)
        font-size var(--fz--h3)

h4()
    font-size ($fz--base * $ratio--sml)
    font-size var(--fz--h4)
    +above(3)
        font-size ($fz--base * $ratio--med)
        font-size var(--fz--h4)
    +above(6)
        font-size ($fz--base * $ratio--lrg)
        font-size var(--fz--h4)

sub()
    font-size ($fz--base / $ratio--sml)
    font-size var(--fz--sub)
    +above(3)
        font-size ($fz--base / $ratio--med)
        font-size var(--fz--sub)
    +above(6)
        font-size ($fz--base / $ratio--lrg)
        font-size var(--fz--sub)

supersub()
    font-size (($fz--base / $ratio--sml) / $ratio--sml)
    font-size var(--fz--supersub)
    +above(3)
        font-size (($fz--base / $ratio--med) / $ratio--med)
        font-size var(--fz--supersub)
    +above(6)
        font-size (($fz--base / $ratio--lrg) / $ratio--lrg)
        font-size var(--fz--supersub)
