// mixin to add margin-top to an item if another child precedes it
// must be used on a single selector, not nested selectors
mt($margin-top = $sp--base)
    * + &
        margin-top $margin-top

// mixin to add a material design-style box shadow which expands on hover
material-shadow($color)
    box-shadow 0 1px 1px $color
    &:active
    &:focus
    &:hover
        box-shadow 0 3px 6px $color

// mixin for centered container element
contain($display = block)
    display $display
    width 92%
    max-width $container
    margin-right auto
    margin-left auto
