/*
    this mixin is intended to be used on the :root element.
    we use it to set a base font-size which is based on the viewport
    width, and which scales between two font-sizes we've set, at two
    viewport widths that we've also set. We then use CSS variables to
    set REM unit values for individual type elements, based on 3
    different typographic scales. We set these as extends, for easier
    overriding of an element's font-size in the rest of the codebase.
*/
type-interpolation($properties, $min-screen, $max-screen, $min-value, $max-value)
    &

        for $property in $properties
            {$property}: $min-value

        @media screen and (min-width: $min-screen)
            for $property in $properties
                {$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value)

        @media screen and (min-width: $max-screen)
            for $property in $properties
                {$property}: $max-value

// the above requires the calc-interpolation function,
// which can also be used independently
calc-interpolation($min-screen, $min-value, $max-screen, $max-value)
    $a = ($max-value - $min-value) / ($max-screen - $min-screen)
    $b = $min-value - $a * $min-screen;

    $sign = " + "
    if ($b < 0 )
        $sign = " - "
        $b = abs($b)

    return s('calc('+ unit($a*100, 'vw') + $sign + ($b) + ')')

// mixin for text underline that breaks for descenders
link-underlines(shadowColor = 'white', underlineColor, underlineThickness, underlinePosition)
    text-decoration none
    text-shadow .03em 0 shadowColor, -.03em 0 shadowColor, 0 .03em shadowColor, 0 -.03em shadowColor, .06em 0 shadowColor, -.06em 0 shadowColor, .09em 0 shadowColor, -.09em 0 shadowColor, .12em 0 shadowColor, -.12em 0 shadowColor, .15em 0 shadowColor, -.15em 0 shadowColor
    background-image linear-gradient(shadowColor, shadowColor), linear-gradient(shadowColor, shadowColor), linear-gradient(underlineColor, underlineColor)
    background-size 0 underlineThickness, 0 underlineThickness, 1px underlineThickness
    background-repeat no-repeat, no-repeat, repeat-x
    background-position 0% underlinePosition, 100% underlinePosition, 0% underlinePosition

// mixin for link underlines that move on hover/focus
line(underlineColour, bottomPosition, borderWidth)
    position relative
    z-index 2
    &::after
        content ''
        z-index -1
        position absolute
        bottom bottomPosition
        left 0
        width 0%
        border-bottom borderWidth solid underlineColour
        transition 0.2s
    &:hover
    &:active
    &:focus
        &::after
            width 100%

// mixin for styling input placeholders
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
