.design_reference

    &__colour
        display block
        mt()
        width 100%

        &__list
            display flex
            flex-direction row
            flex-wrap wrap
            mt()
            contain()

        &__item
            pos-r()
            flex 0 0 48%
            +above(3)
                flex 0 0 31%
            display flex
            flex-direction column
            align-items center
            justify-content center
            bxsh-static()
            border $bw--half solid $cl--soft-interface--high
            border-radius $bdrs
            background-color white
            padding $sp

            &:nth-child(even)
                +below(2)
                    margin-left 4%

            &:nth-child(n+3)
                +below(2)
                    margin-top 4%

            &:nth-child(3n+2)
            &:nth-child(3n+3)
                +above(3)
                    margin-left 3.5%

            &:nth-child(n+4)
                +above(3)
                    margin-top 3.5%

            &__colour
                flex 0 0 auto
                display flex
                border-radius 50%
                height $sp--times-two
                width @height

            &__name
                flex 1 1 0
                mt($sp--half)
