.design_reference

    &__section_header
        display block
        contain()
        bxsh-static()
        border $bw--half solid $cl--soft-interface--high
        border-radius $bdrs
        background-color white
        padding $sp

        * + &
            sp-scale--three()

        &__summary
            display block
            width ($ll - 16)ch
            mt($sp--half)
            fz--plus-one()
