.design_reference

    &__typography
        mt()

        * + h1
            sp-scale--four()

        * + h2
            sp-scale--three()

        * + h3
            sp-scale--two()

        * + h4
            sp-scale--one()
