<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tenet Reference</title>
    </head>
    <body class="application_container">
        <header class="global_header">
            <h1>Tenet Reference</h1>
        </header><!-- .global_header -->
        <main class="main_content"></main><!-- .main_content -->
        <footer class="global_footer"></footer><!-- .global_footer -->
    </body>
</html>
