// mixin for transitions; adds a will-change value for each property chosen
trans(
    $time = $trsdu,
    $easing = ease-out,
    $properties = "background-color, box-shadow"
)
    will-change unquote($properties)
    transition-property unquote($properties)
    transition-duration $time
    transition-timing-function $easing
