// Function needs to:
//    * Take an HSLA
//    * Split it into the values
//    * add the ability to do maths on the values
//    * output the finished value

$cl--test = hsla(10, 50%, 30%, 0.5)

modify-color($color = $cl--test)
    // convert the colour value to a string so that we can operate on it
    $color = join(" ", $color)
    // slice away everything other than the list of values
    $color-as-values = slice($color, 5, -1)
    $values-without-units = replace("%", "", $color-as-values)
    $values = split(",", $values-without-units)
    $hue = $values[0]
    $saturation = $values[1]
    $lightness = $values[2]
    $alpha = $values[3]
    // $final-value = "hsla(" + unquote($hue) + ")"
    // return unquote($final-value)
    return $values

body
    background-color modify-color()
