// mixin to add margin-top to an item if another child precedes it
// must be used on a single selector; will not work on nested selectors
mt($margin-top = $sp)
    * + &
        margin-top $margin-top

// mixin to add margin-left to an item if another child precedes it
// must be used on a single selector; will not work on nested selectors
ml($margin-left = $sp)
    * + &
        margin-left $margin-left

// mixin for centered container element
contain($display = flex)
    display $display
    width 92%
    max-width $container
    margin-right auto
    margin-left auto

// mixin for resetting button elements
button-reset()
    cursor pointer
    border none
    background-color transparent
    padding 0
    font inherit
    color inherit

// mixin to add a material design-style box-shadow which expands on hover
bxsh-hover($color = alpha($cl--dark, 10%))
    box-shadow 0 1px 1px $color

    &:active
    &:focus
    &:hover
        box-shadow 0 3px 6px $color

// mixin for non-interactive material-style box shadow
bxsh-simple($percentage = 40%)
    box-shadow 0 1px .06rem alpha($cl--dark, $percentage)

// mixin to avoid by default giving an element an unintended
// z-index context when giving an element position: relative
pos-r($z-index: auto)
    position relative
    z-index $z-index

// mixin to avoid by default giving an element an unintended
// z-index context when giving an element position: absolute
pos-a($z-index: auto)
    position absolute
    z-index $z-index
